<div style="color: #242424 !important;font-family: Arial,serif;font-size: 16px;line-height: 22px;padding: 20px;">
  <h1>Request for Student Registration</h1>
  <h3><a href='http://localhost:3000/register'>Click to register</a></h3>

  <p>All the Best,</p>
  <p>Student Master</p>
</div>


