<div style="color: #242424 !important;font-family: Arial,serif;font-size: 16px;line-height: 22px;padding: 20px;">

  <h1>Send by us</h1>
  <h3> <a href='http://localhost:3000/students/new'>Click to register</a></h3>
</div>


