<h2>Sign up</h2>

<%= form_tag(send_request_path, method: :post)  do %>

  <div class="col-sm-3 my-1">
    <%= email_field_tag(:email, '', class: "form-control", placeholder: "Email") %>
  </div>

  <div class="col-auto my-1">
    <%= button_tag 'Request', class: "btn btn-primary" %>
  </div>
<% end %>
